alias ll='eza -l -h --icons --git'
alias ls='eza -la -h --icons --git'
alias vim='nvim'
alias ..='cd ..'
alias xx='exit'
alias cc='clear'
alias fix-obsidian="rm -rf ~/.config/obsidian/{GPUCache,Cache,'Code Cache',Session\ Storage} && obsidian"

# system specific aliases
alias update='sudo pacman -Syyu'

# git stuff
alias ga='git add'
alias gcm='git commit -m'
alias gs='git status'

# configs
alias aconf='nvim ~/.config/alacritty/alacritty.toml'
alias kconf='nvim ~/.config/kitty/kitty.conf'
alias alconf='nvim ~/.aliases'
alias zconf='nvim ~/.zshrc'
alias hconf='nvim ~/.config/hypr/hyprland.conf'
alias vimclr='nvim ~/.config/nvim/lua/plugins/colorscheme.lua'
alias mydots='cd ~/Repository/dotfiles/.config/'
