startup_commands toggle_dark_mode;toggle_two_page_mode
ui_font JetBrainsMono NFM SemiBold
font_size 14

dark_mode_background_color 0.03 0.03 0.03
dark_mode_contrast 0.85

touchpad_sensitivity 1.3
move_screen_ratio 0.6

status_bar_color 0.0 0.0 0.0
status_bar_text_color 0.0 1.0 0.0
status_bar_font_size 14
